<%- include('partials/header.ejs') %>
    
    <div class="catname">
        <h2><span class="cathead"> <%= top_title %> </span></h2>
    </div>

    <main>
        <section class="home">  

            <div class="row">

                <% for(let i= 0; i < catagory.length; i++) { %>
                    <div class="catagorycolumn">
                        <div class="card-cat">
                            <a href="/post/<%= catagory[i]._id %>">
                                <h2> <%= catagory[i].title %> </h2>
                            </a>
                            <h5>posted on, <%= catagory[i].date %></h5>
                            <img class="catimg" src="<%= catagory[i].imgurl %>" alt="">
                            <p class="truncate"> <%= catagory[i].discription %> </p>
                        </div>
                    </div>
                <% } %>

                
            </div>
        </section>

    </main>

<%- include('partials/footer.ejs') %>